.quote-box-container{
  width: 600px;
  min-height: 500px;
  background-color: rgb(119, 177, 169);
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  border-radius: 26px;
}

/* Boton para nueva quote */
.newquote-button{
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}
