*{
  margin:0;
  padding:0;
}

.App{
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
